@font-face{
    font-family: 'Bison';
    src: url('../fonts/Bison.ttf') format('truetype');
    
}
@font-face{
    font-family: 'Jost';
    src: url('../fonts/Jost.ttf') format('truetype');
    
}
@font-face{
    font-family: 'Jost-Bold';
    src: url('../fonts/Jost-Bold.ttf') format('truetype');
    
}