.main-content{
    background-color: #171716;
}
.main-content .container{
    padding: 0 10px 0 10px;
    @media screen and(max-width:970px){
        padding: 0 38px 0 38px;
    }
    @media screen and(max-width:350px){
        padding: 0 25px 0 25px;
    }
}
.main-content-title h2{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 173px;
    text-align: center;
    color: #73F9BC;
    @media screen and(max-width:970px){
        font-size: 60px;
        line-height: 87px;
    }
}
.main-content-title p{
    font-family: 'Bison';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    @media screen and(max-width:970px){
        font-size: 30px;
        line-height: 36px;
    }
}
.main-content-title p span{
    font-family: 'Jost';
    font-weight: 500;
    font-size: 20px;
    line-height: 29px; 
    @media screen and(max-width:970px){
        font-size: 14px;
        line-height: 20px;

    } 
}
.main-content-list ul{
    display: flex;
    justify-content: center;
    padding: 0;
    @media screen and(max-width:970px){
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: -45px;
    }

}
.main-content-list ul li{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 387px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 40px 0;
    @media screen and(max-width:970px){
        width: 100%;
        margin: 0;
        height: 55px;
        justify-content: left;
        padding: 0 5% 0 5%;
    }
}
.main-content-list ul li a{
    font-family: Jost;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    @media screen and(max-width:970px){
        font-size: 18px;
        line-height: 26px;
    }
}
.main-content-list ul li:hover{
    background-color: #73F9BC;
    
}
.main-content-list ul li:hover a{
    color: #171716;
}
.main-content-tracks{
    display: flex;
    justify-content: space-around;
    @media screen and(max-width:970px){
        display: none;
    }
}
.track-item h3{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
    @media screen and(max-width:970px){
        font-size: 45px;
        line-height: 65px;
    }
}
.track-item .color-text{
    color: #73F9BC;
    @media screen and(max-width:970px){
        margin-top: 50px;
    }
}
.track-item p{
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    max-width: 624px;
    @media screen and(max-width:1300px){
        max-width: 524px; 
    }
    @media screen and(max-width:1090px){
        max-width: 424px; 
    }
    @media screen and(max-width:970px){
        max-width: 100%; 
        font-size: 18px;
    line-height: 26px;
    }
}
.main-content-requirenment{
    padding-bottom: 74px;
    @media screen and(max-width:970px){
        display: none;
    }
}
.title{
    width: 100%;
    height: 68px;
    background-color: #73F9BC;
    font-family: 'Jost-Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 51px;
    color: #171716;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    @media screen and(max-width:970px){
        font-size: 25px;
        line-height: 120%;
        text-align: center;
    }
}
.requirenment-list{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    @media screen and(max-width:970px){
        flex-direction: column;
    }
}
.requirenment-item{
    display: flex;
    
    margin: 0 25px 0 25px;
    border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
    padding: 23px 0 18px 0;
    max-width: 100%;
    @media screen and(min-width:2200px){
        justify-content: space-between;
    }
    @media screen and(max-width:1250px){
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media screen and(max-width:1250px){
        
        align-items: center;
    }
    @media screen and(max-width:970px){
        padding-bottom: 20px;
        margin: 0 10px 0 10px;
        align-items: start;
        justify-content: center;
    }
    @media screen and(max-width:380px){
        flex-wrap: nowrap;
    }
}
.time{
    font-family: 'Bison';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #73F9BC;
    @media screen and(max-width:970px){
        font-size: 20px;
        line-height: 24px;
    }
}
.name{
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 10px 0 28px 0;
    max-width: 169px;
    @media screen and(max-width:1580px){
        max-width: 90px;
        
    }
    @media screen and(max-width:1250px){
        max-width: 100%;
        
    }
    @media screen and(max-width:970px){
        font-size: 12px;
        line-height: 17px;
    }
}
.logo{
    width: 150px;
    @media screen and(max-width:970px){
        max-width: 100px;
        height: 40px;
        margin-top: 10px;
    }
}
.logo img{
    width: 100%;
    @media screen and(max-width:1580px){
        max-width: 90%;
    }
    @media screen and(max-width:1380px){
        max-width: 80%;
    }
}
.requirenment-item-photo{
    width: 150px;
    height: 150px;
    margin: 0 50px 0 31px;
    @media screen and(max-width:1870px){
        margin: 0 25px 0 15px;
    }
    @media screen and(max-width:1380px){
        margin: 0 10px 0 0;
    }
    @media screen and(max-width:970px){
        width: 100px;
        height: 100px;
    }
    @media screen and(max-width:390px){
        width: 90px;
        height: 90px;
    }
}
.requirenment-item-photo img{
    height: 100%;
}
.requirenment-item-text-btn p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 370px;
    @media screen and(max-width:1580px){
        height: 92px;
    }
    @media screen and(max-width:1250px){
        height: 62px;
        margin-top: 30px;
    }
    @media screen and(max-width:970px){
        font-size: 14px;
        line-height: 120%;
        height: 51px;
        margin-top: 19px;
        max-width: 300px;
    }
    @media screen and(max-width:590px){
        height: 68px;
        max-width: 155px;
    }
    @media screen and(max-width:400px){
        height: 68px;
        max-width: 140px;
    }
}
.requirenment-item-btn{
    display: flex;
    padding-right: 1%;
    @media screen and(max-width:590px){
        flex-direction: column;
    }
    
}
.requirenment-btn{
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bison';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
    @media screen and(max-width:1580px){
        width: 120px;
        
    }
    @media screen and(max-width:1380px){
        width: 100px;
        font-size: 15px;
    }
    @media screen and(max-width:1250px){
        width: 140px;
        height: 30px;
        font-size: 17px;
        line-height: 20px;
        margin-top: 18px;
    }
    @media screen and(max-width:970px){
        margin-top: 15px;
    }
    @media screen and(max-width:590px){
        margin-top: 10px;
    }
    @media screen and(max-width:350px){
        width: 130px;
    }
}
.show-btn{
    color: #171716;
    background-color: #73F9BC;
}
.show-btn:hover{
    background-color: #FFFFFF;
}
.calendar-btn{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 156px;
    height: 36px;
    margin-left: 40px;
    @media screen and(max-width:1580px){
        width: 116px;
        margin-left: 20px;
    }
    @media screen and(max-width:1380px){
        width: 96px;
    }
    @media screen and(max-width:1250px){
        width: 136px;
        height: 26px;
    }
    @media screen and(max-width:590px){
        margin-left: 0;
    }
    @media screen and(max-width:350px){
        width: 126px;
    }
}
.calendar-btn:hover{
    background-color: #73F9BC;
}
.requirenment-footer{
    display: flex;
    margin-left: 25px;
    padding: 42px 0 44px 0;
    @media screen and(max-width:970px){
        flex-direction: column;
        margin-left: 50%;
        transform: translateX(-50px);
        padding: 20px 0 20px 0;
    }
    @media screen and(max-width:725px){
        transform: translateX(-62px);
    }
    @media screen and(max-width:590px){
        transform: translateX(-1px);
    }
}
.requirenment-footer p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    color: #FFFFFF;
    margin-left: 32%;
    @media screen and(max-width:970px){
        margin: 0;
        font-size: 14px;
        line-height: 120%;
    }
    @media screen and(min-width:2200px){
        margin-left: 60%;
    }
}
.requirenment-left{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-top: none;
    width: 49%;
    @media screen and(max-width:970px){
        width: 100%; 
    }
}
.requirenment-right{
    box-sizing: border-box;
    border: 1px solid #73F9BC;
    border-top: none;
    width: 49%;
    @media screen and(max-width:970px){
        width: 100%; 
    }
}
.main-content-mob-list{
    display: none;
    @media screen and(max-width:970px){
        display: flex;
        max-width: 100%;
        background-color: #73F9BC;
        padding: 14px 5% 15px 5%;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 45px 0;
    }
}
.main-content-mob-list p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #171716;
}
.main-content-mob-list img{
    width: 14px;
    height: 12px;
}
.main-content-mob-track{
    display: none;
    @media screen and(max-width:970px){
        display: block;
        text-align: center;
    }
}
.main-content-mob-requirenment{
    display: none;
    @media screen and(max-width:970px){
        display: block;
        padding-bottom: 78px;
    }
}
.requirenment-item-img{
    margin-right: 10%;
    @media screen and(max-width:400px){
        margin-right: 40px;
    }
    @media screen and(max-width:380px){
        margin-right: 30px;
    }
}